<div class="container-fluid">

    <cmx-dialog-v3 #dialog (onOpen)="doSomethingOnOpen();" (onClose)="doSomethingOnClose();" [enableToClose]="true" [enableFooter]="true"
        backgroundColor="gray" width="650px" maxWidth="650px" minWidth="50px" height="620px" maxHeight="920px" minHeight="620px">
        <div cmx-dialog-body>
            <cmx-alert></cmx-alert>
            <span class="roboto-bold" *ngIf="createMode===0">Add new translation</span>
            <form [formGroup]="form" *ngIf="createMode===0">
                <div>
                    <cmx-input [type]="'text'" [label]="'Technical translation key'" [name]="'translationKeyInput'" [placeholder]="'Enter translation key'"
                        [error]="form.get('translationKeyInput').hasError('required') && form.get('translationKeyInput').touched"
                        formControlName="translationKeyInput"></cmx-input>
                    <div class="error" *ngIf="form.get('translationKeyInput').hasError('required')">
                        Input must be filled in
                    </div>
                </div>
                <div>
                    <cmx-input [type]="'text'" [label]="'Translation'" [name]="'translationInput'" [placeholder]="'Enter translation'" [error]="form.get('translationInput').hasError('required') && form.get('translationInput').touched"
                        formControlName="translationInput"></cmx-input>
                    <div class="error" *ngIf="form.get('translationInput').hasError('required')">
                        Input must be filled in
                    </div>
                </div>
                <div>
                    <cmx-dropdown #languageDropDownComponent placeholder="{{selectedLangugageString}}" class="cmx-input" [enableSearch]="true"
                        [closeOnClick]="true">
                        <cmx-dropdown-item (click)="clickLangDropdownItem(lang)" [searchValue]="lang.languageName" *ngFor="let lang of languagesAvailable">
                            {{lang.languageName}} ({{lang.languageISO}})
                        </cmx-dropdown-item>
                    </cmx-dropdown>
                    <div class="error" *ngIf="form.get('languageISOInput').hasError('required')">
                        Input must be filled in
                    </div>
                </div>
                <div>
                    <cmx-dropdown #appDropDownComponent placeholder="{{selectedAppString}}" class="cmx-input" [enableSearch]="true" [closeOnClick]="true">
                        <cmx-dropdown-item (click)="clickAppDropdownItem(app)" [searchValue]="app.applicationItemName" *ngFor="let app of appsAvailable">
                            {{app.applicationItemName}}
                        </cmx-dropdown-item>
                    </cmx-dropdown>
                    <div class="error" *ngIf="form.get('applicationIdInput').hasError('required')">
                        Input must be filled in
                    </div>
                </div>
                <div class="spacer-32"></div>
                <button cmx-button color="blue" (click)="saveNewTranslation()" [disabled]="form.invalid">Create translation</button>
            </form>

            <span class="roboto-bold" *ngIf="createMode===1">Edit translation</span>
            <form [formGroup]="form" *ngIf="createMode===1">
                <div>
                    <cmx-input [type]="'text'" [label]="'Technical translation key'" [name]="'translationKeyInput'" [placeholder]="'Enter translation key'"
                        [style.pointer-events]="'none'" [error]="form.get('translationKeyInput').hasError('required') && form.get('translationKeyInput').touched"
                        formControlName="translationKeyInput"></cmx-input>
                    <div class="error" *ngIf="form.get('translationKeyInput').hasError('required')">
                        Input must be filled in
                    </div>
                </div>
                <div style="width:400px;">
                    <cmx-input [type]="'text'" [label]="'Translation'" [name]="'translationInput'" [placeholder]="'Enter translation'" [error]="form.get('translationInput').hasError('required') && form.get('translationInput').touched"
                        formControlName="translationInput" (change)="textChanging()"></cmx-input>
                    <div class="error" *ngIf="form.get('translationInput').hasError('required')">
                        Input must be filled in
                    </div>
                    <div style="width:50px;float:right;margin-top:-40px;margin-right:-80px;" [hidden]="feeling != 'POSITIVE'" ><img src="/dist/happy.png"></div>
                    <div style="width:50px;float:right;margin-top:-40px;margin-right:-80px;" [hidden]="feeling != 'NEGATIVE'"><img src="/dist/mad.png"></div>
                    <div style="width:50px;float:right;margin-top:-40px;margin-right:-80px;" [hidden]="feeling != 'NEUTRAL'"><img src="/dist/smile.png"></div>
                </div>
                <div>
                    <cmx-dropdown #languageDropDownComponent placeholder="{{selectedTranslationToEdit.proxyLanguageName}} ({{selectedTranslationToEdit.proxyLanguageISO}})"
                        class="cmx-input" [enableSearch]="true" [closeOnClick]="true" [style.overflow]="'hidden'">
                        <cmx-dropdown-item (click)="clickLangDropdownItem(lang)" [searchValue]="lang.languageName" *ngFor="let lang of languagesAvailable">
                            {{lang.languageName}} ({{lang.languageISO}})
                        </cmx-dropdown-item>
                    </cmx-dropdown>
                    <div class="error" *ngIf="form.get('languageISOInput').hasError('required')">
                        Input must be filled in
                    </div>
                </div>
                <div>
                    <cmx-dropdown #appDropDownComponent placeholder="{{selectedTranslationToEdit.proxyApplicationName}}" class="cmx-input" [enableSearch]="true"
                        [closeOnClick]="true" [style.overflow]="'hidden'">
                        <cmx-dropdown-item (click)="clickAppDropdownItem(app)" [searchValue]="app.applicationItemName" *ngFor="let app of appsAvailable">
                            {{app.applicationItemName}}
                        </cmx-dropdown-item>
                    </cmx-dropdown>
                    <div class="error" *ngIf="form.get('applicationIdInput').hasError('required')">
                        Input must be filled in
                    </div>
                </div>
                <div class="spacer-32"></div>
                <button cmx-button color="blue" (click)="modifyTranslation()" [disabled]="form.invalid">Modify translation</button>
            </form>

            <span class="roboto-bold" *ngIf="createMode===2">Mass upload a Json file</span>
            <form [formGroup]="form" *ngIf="createMode===2">
                <div>
                    <button cmx-button color="green" (click)="clickUpload()">Select JSON to upload</button>
                    <input type="file" style="display: none;" id="hiddenFileField">
                    <div class="error" *ngIf="form.get('translationKeyInput').hasError('required')">
                        <span *ngIf="jsonFileStep===0">No file selected yet</span>
                    </div>
                    <span *ngIf="jsonFileStep===1">Reading file, please wait.......</span>
                    <span *ngIf="jsonFileStep===2">Selected file seems correct</span>
                </div>

                <div *ngIf="jsonFileStep===2">
                    <cmx-dropdown #languageDropDownComponent placeholder="{{selectedLangugageString}}" class="cmx-input" [enableSearch]="true"
                        [closeOnClick]="true">
                        <cmx-dropdown-item (click)="clickLangDropdownItem(lang)" [searchValue]="lang.languageName" *ngFor="let lang of languagesAvailable">
                            {{lang.languageName}} ({{lang.languageISO}})
                        </cmx-dropdown-item>
                    </cmx-dropdown>
                    <div class="error" *ngIf="form.get('languageISOInput').hasError('required')">
                        Input must be filled in
                    </div>
                </div>
                <div *ngIf="jsonFileStep===2">
                    <cmx-dropdown #appDropDownComponent placeholder="{{selectedAppString}}" class="cmx-input" [enableSearch]="true" [closeOnClick]="true">
                        <cmx-dropdown-item (click)="clickAppDropdownItem(app)" [searchValue]="app.applicationItemName" *ngFor="let app of appsAvailable">
                            {{app.applicationItemName}}
                        </cmx-dropdown-item>
                    </cmx-dropdown>
                    <div class="error" *ngIf="form.get('applicationIdInput').hasError('required')">
                        Input must be filled in
                    </div>
                </div>
                <div class="spacer-32"></div>
                <button *ngIf="jsonFileStep===2" cmx-button color="blue" (click)="massUpload()" [disabled]="form.invalid">
                    Perform mass upload
                </button>
            </form>
        </div>



    </cmx-dialog-v3>

    <div class="row">
        <div class="col-md-12">
            <div class="spacer-32"></div>
            <h1>{{t.pt("views.home.testTranslationTitle")}}</h1>
            <div class="spacer-32"></div>
        </div>
        <div class="col-md-12">
            <p>{{t.pt("views.home.testDescriptionFiler")}}</p>
            <p>{{t.pt("views.home.testDescriptionTable")}}</p>
            <div class="spacer-16"></div>
            <div class="row">


                <div class="col-md-2">
                    <button cmx-button color="blue" (click)="openDialog()">Add translation</button>
                </div>

                <div class="col-md-2">
                    <button cmx-button color="blue" (click)="downloadFile()">Download .json</button>
                </div>
                <div class="col-md-2">
                    <button cmx-button color="blue" (click)="downloadFileAsCSV()">Download .csv</button>
                </div>

                <div class="col-md-2">
                    <button cmx-button color="blue" (click)="massUploadDialog()">Mass upload</button>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <form [formGroup]="formInitial" >
                        <div class="row">
                            <div class="col-md-3">
                                <cmx-dropdown #languageDropDownComponent placeholder="{{selectedLangugageString}}" class="cmx-input" [enableSearch]="true"
                                    [closeOnClick]="true">
                                    <cmx-dropdown-item (click)="clickLang(lang)" [searchValue]="lang.languageName" *ngFor="let lang of languagesAvailable">
                                        {{lang.languageName}} ({{lang.languageISO}})
                                    </cmx-dropdown-item>
                                </cmx-dropdown>
                                <div class="error" *ngIf="formInitial.get('languageISOInput').hasError('required')">
                                    Input must be filled in
                                </div>
                            </div>
                            <div class="col-md-3">
                                <cmx-dropdown #appDropDownComponent placeholder="{{selectedAppString}}" class="cmx-input" [enableSearch]="true" [closeOnClick]="true">
                                    <cmx-dropdown-item (click)="clickApp(app)" [searchValue]="app.applicationItemName" *ngFor="let app of appsAvailable">
                                        {{app.applicationItemName}}
                                    </cmx-dropdown-item>
                                </cmx-dropdown>
                                <div class="error" *ngIf="formInitial.get('applicationIdInput').hasError('required')">
                                    Input must be filled in
                                </div>
                            </div>
                            <div class="col-md-3">
                                <cmx-input [type]="'text'" [label]="'Search'" [name]="'translationKeyInput'" [placeholder]="'*Optional search key or translation'"
                                    formControlName="translationFilterInput"></cmx-input>
                            </div>

                        </div>
                        <div class="spacer-32"></div>
                        <button cmx-button color="blue" (click)="getLanguageAndApp()" [disabled]="formInitial.invalid">Get translations</button>

                    </form>
                </div>
            </div>
        </div>
        <!-- end .col-12 -->





        <div class="spacer-32"></div>

        <div class="col-md-12">
            <cmx-table [dataSource]="exampleData" [tableSource]="exampleTable" #translationsTable>
                <ng-container *cmxHeaderTemplate="let table">
                    <div fxLayout="row">
                        <ng-container *ngIf="table.getColumn( 'proxyTranslationKey' ).active">
                            <cmx-header-cell fxFlex="20" fxLayout fxLayoutAlign="start center" class="test-view test-view-table-header">
                                {{ table.getColumn( 'proxyTranslationKey' ).getName() }}
                            </cmx-header-cell>
                        </ng-container>
                        <cmx-header-cell fxFlex="40" fxLayout fxLayoutAlign="start center">
                            {{ table.getColumn( 'translation' ).getName() }}

                        </cmx-header-cell>
                        <cmx-header-cell fxFlex="20" fxLayout fxLayoutAlign="start center">
                            {{ table.getColumn( 'proxyLanguageName' ).getName() }}
                            <cmx-checkbox-filters [filters]="table.getColumn( 'proxyLanguageName' ).getFilters()">
                            </cmx-checkbox-filters>
                        </cmx-header-cell>
                        <cmx-header-cell fxFlex="30" fxLayout fxLayoutAlign="start center">
                            {{ table.getColumn( 'proxyLanguageISO' ).getName() }}
                            <cmx-checkbox-filters [filters]="table.getColumn( 'proxyLanguageISO' ).getFilters()">
                            </cmx-checkbox-filters>
                        </cmx-header-cell>
                        <cmx-header-cell fxFlex="30" fxLayout fxLayoutAlign="start center">
                            {{ table.getColumn( 'proxyLanguageCountry' ).getName() }}
                            <cmx-checkbox-filters [filters]="table.getColumn( 'proxyLanguageCountry' ).getFilters()">
                            </cmx-checkbox-filters>
                        </cmx-header-cell>
                        <cmx-header-cell fxFlex="30" fxLayout fxLayoutAlign="start center">
                            {{ table.getColumn( 'proxyApplicationName' ).getName() }}
                            <cmx-checkbox-filters [filters]="table.getColumn( 'proxyApplicationName' ).getFilters()">
                            </cmx-checkbox-filters>
                        </cmx-header-cell>
                        <cmx-header-cell fxFlex="30" fxLayout fxLayoutAlign="start center">
                            Actions
                        </cmx-header-cell>
                    </div>
                </ng-container>
                <ng-container *cmxRowTemplate="let $element">
                    <div fxLayout="row" cmx-table-item>
                        <cmx-cell fxFlex="20" fxLayout="row" fxLayoutAlign="start center">
                            {{ $element.proxyTranslationKey }}
                        </cmx-cell>
                        <cmx-cell fxFlex="40" fxLayout="row" fxLayoutAlign="start center">
                            {{ $element.translation }}
                        </cmx-cell>
                        <cmx-cell fxFlex="20" fxLayout="row" fxLayoutAlign="start center">
                            {{ $element.proxyLanguageName }}
                        </cmx-cell>
                        <cmx-cell fxFlex="30" fxLayout="row" fxLayoutAlign="start center">
                            {{ $element.proxyLanguageISO }}
                        </cmx-cell>
                        <cmx-cell fxFlex="30" fxLayout="row" fxLayoutAlign="start center">
                            {{ $element.proxyLanguageCountry }}
                        </cmx-cell>
                        <cmx-cell fxFlex="30" fxLayout="row" fxLayoutAlign="start center">
                            {{ $element.proxyApplicationName }}
                        </cmx-cell>
                        <cmx-cell fxFlex="30" fxLayout="row" fxLayoutAlign="start center">
                            <button cmx-button color="blue" (click)="editTranslation($element)">Edit</button>
                        </cmx-cell>
                    </div>
                </ng-container>
            </cmx-table>
        </div>

    </div>
    <!-- end .container-fluid -->