<div class="container-fluid">
    <cmx-dialog-v3 #dialog [enableToClose]="true" [enableFooter]="true"
        backgroundColor="gray" width="650px" maxWidth="650px" minWidth="50px" height="620px" maxHeight="920px" minHeight="620px">
        <div cmx-dialog-body>
            <cmx-alert></cmx-alert>                
                <span class="roboto-bold" *ngIf="createMode===0">Add new api</span>
                <form [formGroup]="form"  *ngIf="createMode===0">
                    <div>
                        <cmx-input [type]="'text'" [label]="'API Name'" [name]="'nameInput'" [placeholder]="'API Name'"
                            [error]="form.get('nameInput').hasError('required') && form.get('nameInput').touched" formControlName="nameInput"></cmx-input>
                        <div class="error" *ngIf="form.get('nameInput').hasError('required')">
                            Input must be filled in
                        </div>
                    </div>
                    <div>
                        <cmx-input [type]="'text'" [label]="'App Container'" [name]="'appContainerInput'" [placeholder]="'Enter app container'"
                            [error]="form.get('appContainerInput').hasError('required') && form.get('appContainerInput').touched" formControlName="appContainerInput"></cmx-input>
                        <div class="error" *ngIf="form.get('appContainerInput').hasError('required')">
                            Input must be filled in
                        </div>
                    </div>
                    <div>
                        <cmx-dropdown #appDropDownComponent placeholder="{{selectedAppString}}" class="cmx-input" [enableSearch]="true" [closeOnClick]="true">
                            <cmx-dropdown-item (click)="clickAppDropdownItem(app)" [searchValue]="app.applicationItemName" *ngFor="let app of appsAvailable">
                                {{app.applicationItemName}}
                            </cmx-dropdown-item>
                        </cmx-dropdown>
                        <div class="error" *ngIf="form.get('applicationIdInput').hasError('required')">
                            Input must be filled in
                        </div>
                    </div>
                    <div>
                        <cmx-dropdown #envDropDownComponent placeholder="{{selectedEnvString}}" class="cmx-input" [enableSearch]="true" [closeOnClick]="true" >
                            <cmx-dropdown-item (click)="clickEnvDropdownItem(env)" [searchValue]="environment" *ngFor="let env of envsAvailable">
                                /{{env.environmentISO}}/ -- {{env.environment}}
                            </cmx-dropdown-item>
                        </cmx-dropdown>
                        <div class="error" *ngIf="form.get('envInput').hasError('required')">
                            Input must be filled in
                        </div>
                    </div>
                    <div>
                        <cmx-dropdown #urlDropDownComponent placeholder="{{selectedUrlString}}" class="cmx-input" [enableSearch]="true" [closeOnClick]="true">
                            <cmx-dropdown-item (click)="clickURLDropdownItem(url)" [searchValue]="url" *ngFor="let url of urlsAvailable">
                                {{url.url}} -- v: {{url.version}}
                            </cmx-dropdown-item>
                        </cmx-dropdown>
                        <div class="error" *ngIf="form.get('urlInput').hasError('required')">
                            Input must be filled in
                        </div>
                    </div>
                    <!-- <button type="submit" >Submit</button> -->
                    <div class="spacer-32"></div>
                    <button cmx-button color="blue" (click)="saveNewApiRecord()" [disabled]="form.invalid">Create new API</button>
                </form>

                <span class="roboto-bold" *ngIf="createMode===1">Edit api</span>
                <form [formGroup]="form"  *ngIf="createMode===1">
                    <div>
                        <cmx-input [type]="'text'" [label]="'API Name'" [name]="'nameInput'" [placeholder]="'API Name'"
                            [error]="form.get('nameInput').hasError('required') && form.get('nameInput').touched" formControlName="nameInput"></cmx-input>
                        <div class="error" *ngIf="form.get('nameInput').hasError('required')">
                            Input must be filled in
                        </div>
                    </div>
                    <div>
                        <cmx-input [type]="'text'" [label]="'App Container'" [name]="'appContainerInput'" [placeholder]="'Enter App Container'"
                            [error]="form.get('appContainerInput').hasError('required') && form.get('appContainerInput').touched" formControlName="appContainerInput"></cmx-input>
                        <div class="error" *ngIf="form.get('appContainerInput').hasError('required')">
                            Input must be filled in
                        </div>
                    </div>
                    <div>
                        <cmx-dropdown #appDropDownComponent 
                                      placeholder="{{selectedAppString}}" 
                                      class="cmx-input" 
                                      [enableSearch]="true"
                                      [closeOnClick]="true">
                            <cmx-dropdown-item (click)="clickAppDropdownItem(app)" [searchValue]="app.applicationItemName" *ngFor="let app of appsAvailable">
                                {{app.applicationItemName}}
                            </cmx-dropdown-item>
                        </cmx-dropdown>
                        <div class="error" *ngIf="form.get('applicationIdInput').hasError('required')">
                            Input must be filled in
                        </div>
                    </div>
                    <div>
                        <cmx-dropdown #envDropDownComponent 
                                      placeholder="{{selectedEnvString}}" 
                                      class="cmx-input" 
                                      [enableSearch]="true" 
                                      [closeOnClick]="true" >
                            <cmx-dropdown-item (click)="clickEnvDropdownItem(env)" [searchValue]="environment" *ngFor="let env of envsAvailable">
                                /{{env.environmentISO}}/ -- {{env.environment}}
                            </cmx-dropdown-item>
                        </cmx-dropdown>
                        <div class="error" *ngIf="form.get('envInput').hasError('required')">
                            Input must be filled in
                        </div>
                    </div>
                    <div>
                        <cmx-dropdown #urlDropDownComponent 
                                      placeholder="{{selectedUrlString}}" 
                                      class="cmx-input" 
                                      [enableSearch]="true" 
                                      [closeOnClick]="true">
                            <cmx-dropdown-item (click)="clickURLDropdownItem(url)" [searchValue]="url" *ngFor="let url of urlsAvailable">
                                {{url.url}} -- v: {{url.version}}
                            </cmx-dropdown-item>
                        </cmx-dropdown>
                        <div class="error" *ngIf="form.get('urlInput').hasError('required')">
                            Input must be filled in
                        </div>
                    </div>
                    <div class="spacer-32"></div>
                    <button cmx-button color="blue" (click)="modifyApi()" [disabled]="form.invalid">Modify API</button>
                </form>

                <span class="roboto-bold" *ngIf="createMode === 2">Disable Api</span>
                <form [formGroup]="form" *ngIf="createMode === 2">
                    <div>
                        <cmx-input [type]="'text'"
                                   [label]="'API Name'"
                                   [name]="'nameInput'"
                                   [placeholder]="'API Name'"
                                   [disabled]="true"
                                   formControlName="nameInput">
                        </cmx-input>
                    </div>
                    <div>
                        <cmx-input [type]="'text'"
                                   [label]="'App Container'"
                                   [name]="'appContainerInput'"
                                   [placeholder]="'Enter App Container'"
                                   [disabled]="true"
                                   formControlName="appContainerInput">
                        </cmx-input>
                    </div>
                    <div>
                        <cmx-input [type]="'text'"
                                   [label]="'Application Item'"
                                   [name]="'applicationIdInput'"
                                   [placeholder]="'applicationIdInput'"
                                   [disabled]="true"
                                   formControlName="applicationIdInput">
                        </cmx-input>
                    </div>
                    <div>
                        <cmx-input [type]="'text'"
                                   [label]="'Environment'"
                                   [name]="'envInput'"
                                   [placeholder]="'envInput'"
                                   [disabled]="true"
                                   formControlName="envInput">
                        </cmx-input>
                    </div>
                    <div>
                        <cmx-input [type]="'text'"
                                   [label]="'URL'"
                                   [name]="'urlInput'"
                                   [placeholder]="'urlInput'"
                                   [disabled]="true"
                                   formControlName="urlInput">
                        </cmx-input>
                    </div>
                    <div class="spacer-32"></div>
                    <button cmx-button color="blue" (click)="disableApiRecord()" [disabled]="form.invalid">Disable API</button>
                </form>
        </div>
    </cmx-dialog-v3>

    <div class="row">
        <div class="col-md-12">
            <div class="spacer-32"></div>
            <h1>Api Manager</h1>
            <div class="spacer-32"></div>
        </div>

        <div class="col-md-12">
            <p>A complete guide to APIs</p>
            <p>{{t.pt("views.home.testDescriptionTable")}}</p>
            <div class="spacer-16"></div>
            <div class="row">
                <div class="col-md-2">
                    <button cmx-button color="blue" (click)="openDialog()">Add API</button>
                </div>
            </div>
        </div>

        <div class="spacer-32"></div>

        <div class="col-md-12">
            <cmx-table [dataSource]="exampleData" [tableSource]="exampleTable" #translationsTable>
                <ng-container *cmxHeaderTemplate="let table">
                    <div fxLayout="row">
                        <ng-container *ngIf="table.getColumn( 'apiKey' ).active">
                            <cmx-header-cell fxFlex="20" fxLayout fxLayoutAlign="start center" class="test-view test-view-table-header">
                                {{ table.getColumn( 'apiKey' ).getName() }}
                            </cmx-header-cell>
                        </ng-container>
                        <cmx-header-cell fxFlex="40" fxLayout fxLayoutAlign="start center">
                            {{ table.getColumn( 'name' ).getName() }}
                        </cmx-header-cell>
                        <cmx-header-cell fxFlex="20" fxLayout fxLayoutAlign="start center">
                            {{ table.getColumn( 'appContainer' ).getName() }}
                            <cmx-checkbox-filters [filters]="table.getColumn( 'appContainer' ).getFilters()">
                            </cmx-checkbox-filters>
                        </cmx-header-cell>
                        <cmx-header-cell fxFlex="30" fxLayout fxLayoutAlign="start center">
                            {{ table.getColumn( 'proxyURL' ).getName() }}
                            <cmx-checkbox-filters [filters]="table.getColumn( 'proxyURL' ).getFilters()">
                            </cmx-checkbox-filters>
                        </cmx-header-cell>
                        <cmx-header-cell fxFlex="30" fxLayout fxLayoutAlign="start center">
                            {{ table.getColumn( 'proxyEnvironment' ).getName() }}
                            <cmx-checkbox-filters [filters]="table.getColumn( 'proxyEnvironment' ).getFilters()">
                            </cmx-checkbox-filters>
                        </cmx-header-cell>
                        <cmx-header-cell fxFlex="30" fxLayout fxLayoutAlign="start center">
                            {{ table.getColumn( 'proxyApplicationName' ).getName() }}
                            <cmx-checkbox-filters [filters]="table.getColumn( 'proxyApplicationName' ).getFilters()">
                            </cmx-checkbox-filters>
                        </cmx-header-cell>
                        <cmx-header-cell fxFlex="30" fxLayout fxLayoutAlign="start center">
                            {{ table.getColumn( 'dateCreated' ).getName() }}
                        </cmx-header-cell>
                        <cmx-header-cell fxFlex="40" fxLayout fxLayoutAlign="start center">
                            {{ table.getColumn( 'authorEmail' ).getName() }}
                        </cmx-header-cell>
                        <cmx-header-cell fxFlex="50" fxLayout fxLayoutAlign="start center">
                            Actions
                        </cmx-header-cell>
                    </div>
                </ng-container>
                <ng-container *cmxRowTemplate="let $element">
                    <div fxLayout="row" cmx-table-item>
                        <cmx-cell fxFlex="20" fxLayout="row" fxLayoutAlign="start center">
                            {{ $element.apiKey }}
                        </cmx-cell>
                        <cmx-cell fxFlex="40" fxLayout="row" fxLayoutAlign="start center">
                            {{ $element.name }}
                        </cmx-cell>
                        <cmx-cell fxFlex="20" fxLayout="row" fxLayoutAlign="start center">
                            {{ $element.appContainer }}
                        </cmx-cell>
                        <cmx-cell fxFlex="30" fxLayout="row" fxLayoutAlign="start center">
                            {{ $element.proxyURL }}
                        </cmx-cell>
                        <cmx-cell fxFlex="30" fxLayout="row" fxLayoutAlign="start center">
                            {{ $element.proxyEnvironment }}
                        </cmx-cell>
                        <cmx-cell fxFlex="30" fxLayout="row" fxLayoutAlign="start center">
                            {{ $element.proxyApplicationName }}
                        </cmx-cell>
                        <cmx-cell fxFlex="30" fxLayout="row" fxLayoutAlign="start center">
                            {{ $element.dateCreated }}
                        </cmx-cell>
                        <cmx-cell fxFlex="40" fxLayout="row" fxLayoutAlign="start center">
                            {{ $element.authorEmail }}
                        </cmx-cell>
                        <cmx-cell fxFlex="50" fxLayout="row" fxLayoutAlign="start center">
                            <button cmx-button (click)="editApi($element)" class="orange">Edit</button>
                            <button cmx-button (click)="openDisableModal($element)" class="red">Disable</button>
                        </cmx-cell>
                    </div>
                </ng-container>
            </cmx-table>
        </div>
    </div>