@{
    ViewData["Title"] = "Home Page";
    ViewData["API_HOST"] = Environment.GetEnvironmentVariable("API_HOST");
    ViewData["API_HOST_FULL"] = Environment.GetEnvironmentVariable("API_HOST_FULL");
    ViewData["API_ORG"] = Environment.GetEnvironmentVariable("API_ORG");
    ViewData["API_ENV"] = Environment.GetEnvironmentVariable("API_ENV");
    ViewData["APP_CODE"] = Environment.GetEnvironmentVariable("APP_CODE");
    ViewData["CLIENT_ID"] = Environment.GetEnvironmentVariable("CLIENT_ID");
    ViewData["COUNTLY_KEY"] = Environment.GetEnvironmentVariable("COUNTLY_KEY");
    ViewData["COUNTLY_URL"] = Environment.GetEnvironmentVariable("COUNTLY_URL");
}

<app >Loading...</app>

<script src="~/dist/dlsdraft/dls.bundle.js" asp-append-version="true"></script>
<script src="~/dist/vendor.js" asp-append-version="true"></script>
@section scripts {
    <script>
        window.API_HOST = '@ViewData["API_HOST"]';
        window.API_HOST_FULL = '@ViewData["API_HOST_FULL"]';
        window.API_ORG = '@ViewData["API_ORG"]';
        window.API_ENV = '@ViewData["API_ENV"]';
        window.APP_CODE = '@ViewData["APP_CODE"]';
        window.CLIENT_ID = '@ViewData["CLIENT_ID"]';
        window.COUNTLY_KEY = '@ViewData["COUNTLY_KEY"]';
        window.COUNTLY_URL = '@ViewData["COUNTLY_URL"]';
        window.dummy = '@ViewData["DUMMY_KEY_FOR_LOCAL"]';
    </script>
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}