<cmx-nav-header (clickMenuButton)="clickMenuButton($event)"></cmx-nav-header>
<cmx-sidebar (collapseEvent)="collapseEvent($event)" [customOptions]="sidebarOption" (customOptionEvent)="customOptionEvent($event)" [disableAppLink]="true"></cmx-sidebar>
<div id="layout" class="content">
    <router-outlet></router-outlet>
</div>