<div class="container-fluid">

    <cmx-dialog-v3 #envDialog [enableToClose]="true" [enableFooter]="true"
        backgroundColor="gray" width="650px" maxWidth="650px" minWidth="650px" height="590px" maxHeight="620px" minHeight="590px">
        
        <div cmx-dialog-body >
            <cmx-alert></cmx-alert>    
            <span class="roboto-bold" *ngIf="modalInAppCreate">Add new environment</span>
            <form [formGroup]="formEnv" *ngIf="modalInAppCreate">
                <div>
                    <cmx-input [type]="'text'" [label]="'Environment name'" [name]="'envNameInput'" [placeholder]="'Enter environment name'"
                        [error]="formEnv.get('envNameInput').hasError('required') && formEnv.get('envNameInput').touched" formControlName="envNameInput"></cmx-input>
                    <div class="error" *ngIf="formEnv.get('envNameInput').hasError('required')">
                        Input must be filled in
                    </div>
                </div>
                <div>
                    <cmx-input [type]="'text'" [label]="'Region'" [name]="'envRegionInput'" [placeholder]="'Enter Region'"
                        [error]="formEnv.get('envRegionInput').hasError('required') && formEnv.get('envRegionInput').touched"
                        formControlName="envRegionInput"></cmx-input>
                    <div class="error" *ngIf="formEnv.get('envRegionInput').hasError('required')">
                        Input must be filled in
                    </div>
                </div>
                <div>
                    <cmx-input [type]="'text'" [label]="'Environment ISO'" [name]="'envISOInput'" [placeholder]="'Enter an ISO for the environment'"
                        [error]="formEnv.get('envISOInput').hasError('required') && formEnv.get('envISOInput').touched"
                        formControlName="envISOInput"></cmx-input>
                    <div class="error" *ngIf="formEnv.get('envISOInput').hasError('required')">
                        Input must be filled in
                    </div>
                </div>
                <!-- <button type="submit" >Submit</button> -->
                <div class="spacer-32"></div>
                <button cmx-button color="blue" (click)="saveNewEnvironment()" [disabled]="formEnv.invalid">Create environment</button>
            </form>
            <!-- <pre>{{ formEnv.value | json }}</pre> -->

        
            <span class="roboto-bold" *ngIf="!modalInAppCreate">Add new url</span>
            <form [formGroup]="formUrl" *ngIf="!modalInAppCreate">
                <div>
                    <cmx-input [type]="'text'" [label]="'Url link'" [name]="'urlInput'" [placeholder]="'Enter url name'"
                        [error]="formUrl.get('urlInput').hasError('required') && formUrl.get('urlInput').touched" formControlName="urlInput">
                    </cmx-input>
                    <div class="error" *ngIf="formUrl.get('urlInput').hasError('required')">
                        Input must be filled in
                    </div>
                </div>
                <div>
                    <cmx-input [type]="'text'" [label]="'Version'" [name]="'versionInput'" [placeholder]="'Enter version'"
                        [error]="formUrl.get('versionInput').hasError('required') && formUrl.get('versionInput').touched"
                        formControlName="versionInput"></cmx-input>
                    <div class="error" *ngIf="formUrl.get('versionInput').hasError('required')">
                        Input must be filled in
                    </div>
                </div>
                
                <!-- <button type="submit" >Submit</button> -->
                <div class="spacer-32"></div>
                <button cmx-button color="blue" (click)="saveNewUrl()" [disabled]="formUrl.invalid">Create URL</button>
            </form>
            <!-- <pre>{{ formUrl.value | json }}</pre> -->

        </div>
        <div cmx-dialog-footer>
            <!-- <button cmx-button color="blue" (click)="closeDialog()">Continue</button> -->
        </div>
    </cmx-dialog-v3>

    <cmx-dialog-v3 #urlDialog [enableToClose]="true" [enableFooter]="true"
        backgroundColor="gray" width="650px" maxWidth="650px" minWidth="650px" height="420px" maxHeight="420px" minHeight="420px">
        <div cmx-dialog-body>url dialog</div>
        <div cmx-dialog-footer>
            <button cmx-button color="blue" (click)="closeDialog()">Continue</button>
        </div>
    </cmx-dialog-v3>

    <div class="row">
        <div class="col-md-12">
            <div class="spacer-32"></div>
            <h1>Api Parameter Configurations</h1>
            <div class="spacer-32"></div>
        </div>
        <!-- end col-12 -->

        <div class="col-md-12">
            <p>{{t.pt("views.setup.testDescription1")}}</p>
            <p>{{t.pt("views.setup.testDescription2")}}</p>
            <button cmx-button color="blue" (click)="openEnvironmentDialog()">Add environment</button>
            <button cmx-button color="blue" (click)="openURLDialog()">Add URL</button>
            
            <div class="spacer-16"></div>
            <div class="row">
                <div class="col-md-6">
                    <cmx-panel-card title="Serving to these applications" masterHeight="350">
                            
                        <cmx-table [dataSource]="envsTableData" [tableSource]="envsTable">
                            <ng-container *cmxHeaderTemplate="let table">
                                <div fxLayout="row">
                                    <ng-container *ngIf="table.getColumn( 'environment' ).active">
                                        <cmx-header-cell fxFlex="50" fxLayout fxLayoutAlign="start center" class="test-view test-view-table-header">
                                            {{ table.getColumn( 'environment' ).getName() }}
                                            <cmx-checkbox-filters [filters]="table.getColumn( 'environment' ).getFilters()">
                                            </cmx-checkbox-filters>
                                        </cmx-header-cell>
                                    </ng-container>
                                    <cmx-header-cell fxFlex="20" fxLayout fxLayoutAlign="start center">
                                        {{ table.getColumn( 'region' ).getName() }}
                                        <cmx-checkbox-filters [filters]="table.getColumn( 'region' ).getFilters()">
                                        </cmx-checkbox-filters>
                                    </cmx-header-cell>
                                    <cmx-header-cell fxFlex="50" fxLayout fxLayoutAlign="start center">
                                        {{ table.getColumn( 'environmentISO' ).getName() }}
                                        <cmx-checkbox-filters [filters]="table.getColumn( 'environmentISO' ).getFilters()">
                                        </cmx-checkbox-filters>
                                    </cmx-header-cell>
                                    <!-- <cmx-header-cell fxFlex="30" fxLayout fxLayoutAlign="start center">
                                        Actions
                                    </cmx-header-cell> -->
                                </div>
                            </ng-container>
                            <ng-container *cmxRowTemplate="let $element">
                                <div fxLayout="row" cmx-table-item>
                                    <cmx-cell fxFlex="50" fxLayout="row" fxLayoutAlign="start center">
                                        {{ $element.environment }}
                                    </cmx-cell>
                                    <cmx-cell fxFlex="20" fxLayout="row" fxLayoutAlign="start center">
                                        {{ $element.region }}
                                    </cmx-cell>
                                    <cmx-cell fxFlex="50" fxLayout="row" fxLayoutAlign="start center">
                                        {{ $element.environmentISO }}
                                    </cmx-cell>
                                    <!-- <cmx-cell fxFlex="30" fxLayout="row" fxLayoutAlign="start center">
                                        <button cmx-button color="blue" (click)="editEnvironment($element)">Edit</button>
                                    </cmx-cell> -->
                                </div>
                            </ng-container>
                        </cmx-table>
                        
                    </cmx-panel-card>
                </div>
                <div class="col-md-6">
                    <cmx-panel-card title="Available urls" masterHeight="350">
                            
                        <cmx-table [dataSource]="urlsTableData" [tableSource]="urlsTable">
                            <ng-container *cmxHeaderTemplate="let table">
                                <div fxLayout="row">
                                    <ng-container *ngIf="table.getColumn( 'url' ).active">
                                        <cmx-header-cell fxFlex="80" fxLayout fxLayoutAlign="start center" class="test-view test-view-table-header">
                                            {{ table.getColumn( 'url' ).getName() }}
                                            <cmx-checkbox-filters [filters]="table.getColumn( 'url' ).getFilters()">
                                            </cmx-checkbox-filters>
                                        </cmx-header-cell>
                                    </ng-container>
                                    <cmx-header-cell fxFlex="20" fxLayout fxLayoutAlign="start center">
                                        {{ table.getColumn( 'version' ).getName() }}
                                        <cmx-checkbox-filters [filters]="table.getColumn( 'version' ).getFilters()">
                                        </cmx-checkbox-filters>
                                    </cmx-header-cell>
                                    <!-- <cmx-header-cell fxFlex="30" fxLayout fxLayoutAlign="start center">
                                        Actions
                                    </cmx-header-cell> -->
                                </div>
                            </ng-container>
                            <ng-container *cmxRowTemplate="let $element">
                                <div fxLayout="row" cmx-table-item>
                                    <cmx-cell fxFlex="80" fxLayout="row" fxLayoutAlign="start center">
                                        {{ $element.url }}
                                    </cmx-cell>
                                    <cmx-cell fxFlex="20" fxLayout="row" fxLayoutAlign="start center">
                                        {{ $element.version }}
                                    </cmx-cell>
                                    <!-- <cmx-cell fxFlex="30" fxLayout="row" fxLayoutAlign="start center">
                                        <button cmx-button color="blue" (click)="editUrl($element)">Edit</button>
                                    </cmx-cell> -->
                                </div>
                            </ng-container>
                        </cmx-table>
                    </cmx-panel-card>
                </div>
            </div>
            <div class="row">
            </div>
        </div>
        <!-- end .col-12 -->
        <div class="spacer-32"></div>
    </div>
    <!-- end .container-fluid -->