<div class="container-fluid">

    <cmx-dialog-v3 #appDialog (onOpen)="doSomethingOnOpen();" (onClose)="doSomethingOnClose();" [enableToClose]="true" [enableFooter]="true"
        backgroundColor="gray" width="650px" maxWidth="650px" minWidth="650px" height="590px" maxHeight="620px" minHeight="590px">
        
        <div cmx-dialog-body >
            <cmx-alert></cmx-alert>    
            <span class="roboto-bold" *ngIf="modalInAppCreate">Add new application</span>
            <form [formGroup]="form" (ngSubmit)="submit()" *ngIf="modalInAppCreate">
                <div>
                    <cmx-input [type]="'text'" [label]="'Application name'" [name]="'appNameInput'" [placeholder]="'Enter application name'"
                        [error]="form.get('appNameInput').hasError('required') && form.get('appNameInput').touched" formControlName="appNameInput"></cmx-input>
                    <div class="error" *ngIf="form.get('appNameInput').hasError('required')">
                        Input must be filled in
                    </div>
                </div>
                <div>
                    <cmx-input [type]="'text'" [label]="'Application description'" [name]="'appDescriptionInput'" [placeholder]="'Enter application description'"
                        [error]="form.get('appDescriptionInput').hasError('required') && form.get('appDescriptionInput').touched"
                        formControlName="appDescriptionInput"></cmx-input>
                    <div class="error" *ngIf="form.get('appDescriptionInput').hasError('required')">
                        Input must be filled in
                    </div>
                </div>
                <div>
                    <cmx-input [type]="'text'" [label]="'Application technical ID'" [name]="'applicationItemTechnicalName'" [placeholder]="'Enter application technical ID'"
                        [error]="form.get('applicationItemTechnicalName').hasError('required') && form.get('applicationItemTechnicalName').touched"
                        formControlName="applicationItemTechnicalName"></cmx-input>
                    <div class="error" *ngIf="form.get('applicationItemTechnicalName').hasError('required')">
                        Input must be filled in
                    </div>
                </div>
                <!-- <button type="submit" >Submit</button> -->
                <div class="spacer-32"></div>
                <button cmx-button color="blue" (click)="saveNewApplication()" [disabled]="form.invalid">Create application</button>
            </form>
            <!-- <pre>{{ form.value | json }}</pre> -->

        
            <span class="roboto-bold" *ngIf="!modalInAppCreate">Add new language</span>
            <form [formGroup]="formLang" (ngSubmit)="submit()" *ngIf="!modalInAppCreate">
                <div>
                    <cmx-input [type]="'text'" [label]="'Language name'" [name]="'languageNameInput'" [placeholder]="'Enter language name'"
                               [error]="formLang.get('languageNameInput').hasError('required') && formLang.get('languageNameInput').touched" formControlName="languageNameInput"></cmx-input>
                    <div class="error" *ngIf="formLang.get('languageNameInput').hasError('required')">
                        Input must be filled in
                    </div>
                </div>
                <div>
                    <cmx-input [type]="'text'" [label]="'Language ISO'" [name]="'languageISOInput'" [placeholder]="'Enter language ISO'"
                               [error]="formLang.get('languageISOInput').hasError('required') && formLang.get('languageISOInput').touched"
                               formControlName="languageISOInput"></cmx-input>
                    <div class="error" *ngIf="formLang.get('languageISOInput').hasError('required')">
                        Input must be filled in
                    </div>
                </div>
                <div>
                    <cmx-input [type]="'text'" [label]="'Language country'" [name]="'languageCountryInput'" [placeholder]="'Enter country of origin'"
                               [error]="formLang.get('languageCountryInput').hasError('required') && formLang.get('languageCountryInput').touched"
                               formControlName="languageCountryInput"></cmx-input>
                    <div class="error" *ngIf="formLang.get('languageCountryInput').hasError('required')">
                        Input must be filled in
                    </div>
                </div>
                <div>
                    <cmx-input [type]="'text'" [label]="'Country code'" [name]="'countryCodeInput'" [placeholder]="'Enter country code'"
                               [error]="formLang.get('countryCodeInput').hasError('required') && formLang.get('countryCodeInput').touched"
                               formControlName="countryCodeInput"></cmx-input>
                    <div class="error" *ngIf="formLang.get('countryCodeInput').hasError('required')">
                        Input must be filled in
                    </div>
                </div>
                <div>
                    <cmx-input [type]="'text'" [label]="'Day Names'" [name]="'dayNamesInput'" [placeholder]="'Enter comma separated day names'"
                               [error]="formLang.get('dayNamesInput').hasError('required') && formLang.get('dayNamesInput').touched"
                               formControlName="dayNamesInput"></cmx-input>
                    <div class="error" *ngIf="formLang.get('dayNamesInput').hasError('required')">
                        Input must be filled in
                    </div>
                </div>
                <div>
                    <cmx-input [type]="'text'" [label]="'Month Names'" [name]="'monthNamesInput'" [placeholder]="'Enter comma separated month names'"
                               [error]="formLang.get('monthNamesInput').hasError('required') && formLang.get('monthNamesInput').touched"
                               formControlName="monthNamesInput"></cmx-input>
                    <div class="error" *ngIf="formLang.get('monthNamesInput').hasError('required')">
                        Input must be filled in
                    </div>
                </div>
                <div>
                    RTL support
                    <cmx-dropdown #rtlDropDown placeholder="{{formLang.get('textFloat').hasError('required') ? 'RTL support' : formLang.value.textFloat }}" class="cmx-input" [enableSearch]="true" [closeOnClick]="true">
                        <cmx-dropdown-item (click)="formLang.patchValue({'textFloat':'left'})">
                            No
                        </cmx-dropdown-item>
                        <cmx-dropdown-item (click)="formLang.patchValue({'textFloat':'right'})">
                            Yes
                        </cmx-dropdown-item>
                    </cmx-dropdown>
                    <div class="error" *ngIf="formLang.get('textFloat').hasError('required')">
                        Input must be filled in
                    </div>
                </div>
                <div>
                    <cmx-input [type]="'text'" [label]="'Currency symbol'" [name]="'currencySymbol'" [placeholder]="'Currency symbol'"
                               [error]="formLang.get('currencySymbol').hasError('required') && formLang.get('currencySymbol').touched"
                               formControlName="currencySymbol"></cmx-input>
                    <div class="error" *ngIf="formLang.get('currencySymbol').hasError('required')">
                        Input must be filled in
                    </div>
                </div>
                <div>
                    Currency symbol position
                    <cmx-dropdown #currencyFormatDropDown placeholder="{{formLang.get('currencySymbolFloat').hasError('required') ? 'Currency symbol position' : formLang.value.currencySymbolFloat }}" class="cmx-input" [enableSearch]="true" [closeOnClick]="true">
                        <cmx-dropdown-item (click)="formLang.patchValue({'currencySymbolFloat':'right'});formLang.patchValue({'currencyFormat':'%n%u'})">
                            Right
                        </cmx-dropdown-item>
                        <cmx-dropdown-item (click)="formLang.patchValue({'currencySymbolFloat':'left'});formLang.patchValue({'currencyFormat':'%u%n'})">
                            Left
                        </cmx-dropdown-item>
                    </cmx-dropdown>
                    <div class="error" *ngIf="formLang.get('currencySymbolFloat').hasError('required')">
                        Input must be filled in
                    </div>
                </div>
                <div>
                    <cmx-input [type]="'text'" [label]="'Currency name'" [name]="'currencyName'" [placeholder]="'Currency name'"
                               [error]="formLang.get('currencyName').hasError('required') && formLang.get('currencyName').touched"
                               formControlName="currencyName"></cmx-input>
                    <div class="error" *ngIf="formLang.get('currencyName').hasError('required')">
                        Input must be filled in
                    </div>
                </div>
                <div>
                    <cmx-input [type]="'text'" [label]="'Format date'" [name]="'formatDate'" [placeholder]="'Format date'"
                               [error]="formLang.get('formatDate').hasError('required') && formLang.get('formatDate').touched"
                               formControlName="formatDate"></cmx-input>
                    <div class="error" *ngIf="formLang.get('formatDate').hasError('required')">
                        Input must be filled in
                    </div>
                </div>
                <div>
                    <cmx-input [type]="'text'" [label]="'Format time'" [name]="'formatTime'" [placeholder]="'Format time'"
                               [error]="formLang.get('formatTime').hasError('required') && formLang.get('formatTime').touched"
                               formControlName="formatTime"></cmx-input>
                    <div class="error" *ngIf="formLang.get('formatTime').hasError('required')">
                        Input must be filled in
                    </div>
                </div>
                <div>
                    <cmx-input [type]="'text'" [label]="'Decimal separator'" [name]="'decimalSeparator'" [placeholder]="'Decimal separator'"
                               [error]="formLang.get('decimalSeparator').hasError('required') && formLang.get('decimalSeparator').touched"
                               formControlName="decimalSeparator"></cmx-input>
                    <div class="error" *ngIf="formLang.get('decimalSeparator').hasError('required')">
                        Input must be filled in
                    </div>
                </div>
                <div>
                    <cmx-input [type]="'number'" [label]="'Decimal numbers'" [name]="'decimalNumbers'" [placeholder]="'Decimal numbers'"
                               [error]="formLang.get('decimalNumbers').hasError('required') && formLang.get('decimalNumbers').touched"
                               formControlName="decimalNumbers"></cmx-input>

                    <div class="error" *ngIf="formLang.get('decimalNumbers').hasError('required')">
                        Input must be filled in
                    </div>
                </div>
                <div>
                    <cmx-input [type]="'text'" [label]="'Thousand separator'" [name]="'thousandSeparator'" [placeholder]="'Thousand separator'"
                               [error]="formLang.get('thousandSeparator').hasError('required') && formLang.get('thousandSeparator').touched"
                               formControlName="thousandSeparator"></cmx-input>
                    <div class="error" *ngIf="formLang.get('thousandSeparator').hasError('required')">
                        Input must be filled in
                    </div>
                </div>

                <!-- <button type="submit" >Submit</button> -->
                <div class="spacer-32"></div>
                <button cmx-button color="blue" (click)="saveNewLanguage()" [disabled]="formLang.invalid">Create Language</button>
            </form>
            <!-- <pre>{{ formLang.value | json }}</pre> -->

        </div>
        <div cmx-dialog-footer>
            <!-- <button cmx-button color="blue" (click)="closeDialog()">Continue</button> -->
        </div>
    </cmx-dialog-v3>

    <cmx-dialog-v3 #langDialog (onOpen)="doSomethingOnOpen();" (onClose)="doSomethingOnClose();" [enableToClose]="true" [enableFooter]="true"
        backgroundColor="gray" width="650px" maxWidth="650px" minWidth="650px" height="420px" maxHeight="420px" minHeight="420px">
        <div cmx-dialog-body>lang dialog</div>
        <div cmx-dialog-footer>
            <button cmx-button color="blue" (click)="closeDialog()">Continue</button>
        </div>
    </cmx-dialog-v3>

    <div class="row">
        <div class="col-md-12">
            <div class="spacer-32"></div>
            <h1>{{t.pt("views.setup.testSetupTitle")}}</h1>
            <div class="spacer-32"></div>
        </div>
        <!-- end col-12 -->

        <div class="col-md-12">
            <p>{{t.pt("views.setup.testDescription1")}}</p>
            <p>{{t.pt("views.setup.testDescription2")}}</p>
            <button cmx-button color="blue" (click)="openApplicationDialog()">Add application</button>
            <button cmx-button color="blue" (click)="openLanguageDialog()">Add language</button>
            
            <div class="spacer-16"></div>
            <div class="row">
                <div class="col-md-6">
                    <cmx-panel-card title="Serving to these applications" masterHeight="350">
                            
                        <cmx-table [dataSource]="applicationsTableData" [tableSource]="applicationsTable">
                            <ng-container *cmxHeaderTemplate="let table">
                                <div fxLayout="row">
                                    <ng-container *ngIf="table.getColumn( 'applicationItemName' ).active">
                                        <cmx-header-cell fxFlex="30" fxLayout fxLayoutAlign="start center" class="test-view test-view-table-header">
                                            {{ table.getColumn( 'applicationItemName' ).getName() }}
                                            <cmx-checkbox-filters [filters]="table.getColumn( 'applicationItemName' ).getFilters()">
                                            </cmx-checkbox-filters>
                                        </cmx-header-cell>
                                    </ng-container>
                                    <cmx-header-cell fxFlex="50" fxLayout fxLayoutAlign="start center">
                                        {{ table.getColumn( 'applicationItemDescription' ).getName() }}
                                        <cmx-checkbox-filters [filters]="table.getColumn( 'applicationItemDescription' ).getFilters()">
                                        </cmx-checkbox-filters>
                                    </cmx-header-cell>
                                    <cmx-header-cell fxFlex="20" fxLayout fxLayoutAlign="start center">
                                        {{ table.getColumn( 'applicationItemId' ).getName() }}
                                        <cmx-checkbox-filters [filters]="table.getColumn( 'applicationItemId' ).getFilters()">
                                        </cmx-checkbox-filters>
                                    </cmx-header-cell>
                                    <cmx-header-cell fxFlex="20" fxLayout fxLayoutAlign="start center">
                                        {{ table.getColumn( 'applicationItemTechnicalName' ).getName() }}
                                        <cmx-checkbox-filters [filters]="table.getColumn( 'applicationItemTechnicalName' ).getFilters()">
                                        </cmx-checkbox-filters>
                                    </cmx-header-cell>
                                    <cmx-header-cell fxFlex="20" fxLayout fxLayoutAlign="start center">
                                        Technical mode
                                    </cmx-header-cell>
                                </div>
                            </ng-container>
                            <ng-container *cmxRowTemplate="let $element">
                                <div fxLayout="row" cmx-table-item>
                                    <cmx-cell fxFlex="30" fxLayout="row" fxLayoutAlign="start center">
                                        {{ $element.applicationItemName }}
                                    </cmx-cell>
                                    <cmx-cell fxFlex="50" fxLayout="row" fxLayoutAlign="start center">
                                        {{ $element.applicationItemDescription }}
                                    </cmx-cell>
                                    <cmx-cell fxFlex="20" fxLayout="row" fxLayoutAlign="start center">
                                        {{ $element.applicationItemId }}
                                    </cmx-cell>
                                    <cmx-cell fxFlex="20" fxLayout="row" fxLayoutAlign="start center">
                                        {{ $element.applicationItemTechnicalName }}
                                    </cmx-cell>
                                    <cmx-cell fxFlex="20" fxLayout="row" fxLayoutAlign="start center">
                                        <button cmx-button color="blue" (click)="enableTechnicalMode($element)">ON (10s)</button>
                                    </cmx-cell>
                                </div>
                            </ng-container>
                        </cmx-table>
                        
                    </cmx-panel-card>
                </div>
                <div class="col-md-6">
                    <cmx-panel-card title="Available languages" masterHeight="350">
                            
                        <cmx-table [dataSource]="languagesTableData" [tableSource]="languagesTable">
                            <ng-container *cmxHeaderTemplate="let table">
                                <div fxLayout="row">
                                    <ng-container *ngIf="table.getColumn( 'languageName' ).active">
                                        <cmx-header-cell fxFlex="30" fxLayout fxLayoutAlign="start center" class="test-view test-view-table-header">
                                            {{ table.getColumn( 'languageName' ).getName() }}
                                            <cmx-checkbox-filters [filters]="table.getColumn( 'languageName' ).getFilters()">
                                            </cmx-checkbox-filters>
                                        </cmx-header-cell>
                                    </ng-container>
                                    <cmx-header-cell fxFlex="20" fxLayout fxLayoutAlign="start center">
                                        {{ table.getColumn( 'languageISO' ).getName() }}
                                        <cmx-checkbox-filters [filters]="table.getColumn( 'languageISO' ).getFilters()">
                                        </cmx-checkbox-filters>
                                    </cmx-header-cell>
                                    <cmx-header-cell fxFlex="20" fxLayout fxLayoutAlign="start center">
                                        {{ table.getColumn( 'languageCountry' ).getName() }}
                                        <cmx-checkbox-filters [filters]="table.getColumn( 'languageCountry' ).getFilters()">
                                        </cmx-checkbox-filters>
                                    </cmx-header-cell>
                                    <cmx-header-cell fxFlex="10" fxLayout fxLayoutAlign="start center">
                                        {{ table.getColumn( 'languageId' ).getName() }}
                                        <cmx-checkbox-filters [filters]="table.getColumn( 'languageId' ).getFilters()">
                                        </cmx-checkbox-filters>
                                    </cmx-header-cell>
                                    <cmx-header-cell fxFlex="30" fxLayout fxLayoutAlign="start center">
                                            Actions
                                    </cmx-header-cell>

                                </div>
                            </ng-container>
                            <ng-container *cmxRowTemplate="let $element">
                                <div fxLayout="row" cmx-table-item>
                                    <cmx-cell fxFlex="30" fxLayout="row" fxLayoutAlign="start center">
                                        {{ $element.languageName }}
                                    </cmx-cell>
                                    <cmx-cell fxFlex="20" fxLayout="row" fxLayoutAlign="start center">
                                        {{ $element.languageISO }}
                                    </cmx-cell>
                                    <cmx-cell fxFlex="20" fxLayout="row" fxLayoutAlign="start center">
                                        {{ $element.languageCountry }}
                                    </cmx-cell>
                                    <cmx-cell fxFlex="10" fxLayout="row" fxLayoutAlign="start center">
                                        {{ $element.languageId }}
                                    </cmx-cell>
                                    <cmx-cell fxFlex="30" fxLayout="row" fxLayoutAlign="start center">
                                            <button cmx-button color="blue" (click)="editLanguage($element)">View details</button>
                                    </cmx-cell>

                                </div>
                            </ng-container>
                        </cmx-table>
                        
                    </cmx-panel-card>
                </div>



            </div>
            <div class="row">


            </div>
        </div>
        <!-- end .col-12 -->





        <div class="spacer-32"></div>



    </div>
    <!-- end .container-fluid -->